*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width:1000px;
}

/*Main Menu start*/
.headerLogo{
    width:10rem;
}

.nav-link{
    color:red !important;
}

/*Main Menu End*/


/*Header Content start*/
.headerContent{
    width:100%;
    height: 100vh;
}
.headerContentImage{
    width:50%;
    
    background-image:url('/headercontentimage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.headerContentText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding:5%;
}

/*Header Content End*/